# Data Challenge - loadsmart
## By: Cesar Santos

Development Steps:
* Importing data from Excel
* Treathing data with Python (Pandas and Numpy)
* Defining a star schema data model
* Inserting treated data into a DW (MySQL localhost DB)
* Creating a data visualization portifolio consuming data from the DW

### The diagram below shows my basic idea for the data modeling

![MER Diagram](..\documentation\loadsmart_diagram-MER.png)

## Required Libs: 
pandas=1.2.3

openpyxl==3.0.7

pymysql==0.7.2

numpy==1.20.1
 
sqlalchemy==1.4.3

**Please use the requirements.txt file to intall theses required libs**

## Imports

In [ ]:
# Imports
from datetime import datetime
import pandas as pd
import numpy as np
import pymysql.cursors
from sqlalchemy import create_engine

## Data Extraction

In [ ]:
#Data Extraction
source_df = pd.read_excel(r'..\2017 Data- Challenge BI.xlsx', sheet_name='2017 Data',header=0, engine='openpyxl')

#Removing specfic duplicated column
source_df.drop(columns=['has_mobile_app_tracking.1'], inplace=True) 

source_df

## Database Connection

In [ ]:
# PYMYSQL AS OPTION
connection = pymysql.connect(user = 'root', 
                       database = 'loadsmart_dw',                       
                       host = 'localhost')

#SQLALCHEMY AS OTHER OPTION
engine = create_engine('mysql+pymysql://loadsmart_user:loadsmart_user@localhost/loadsmart_dw')

## Dim Shipper

In [ ]:
#Dimension Shipper
DimShipper_df = source_df[['shipper_name']].drop_duplicates()

DimShipper_df.head()

In [ ]:
# creating column list for insertion
datacolumns = ", ".join([str('`'+i+'`') for i in DimShipper_df.columns.tolist()])

for i,row in DimShipper_df.iterrows():
    try:
        sql = "INSERT INTO `DimShipper` (" +datacolumns + ", `last_update`) VALUES (" + "%s,"*len(row) + "'"+ str(datetime.today())[:19]+ "')"

        connection.cursor().execute(sql, tuple(row))
        connection.commit()
    except:
        connection.commit()
        print('Not Inserted:')
        print(tuple(row))

In [ ]:
#Releasing memory
del DimShipper_df

## Dim Route

In [ ]:
#Dimension Route
DimRoute_df = source_df[['lane']].drop_duplicates()

DimRoute_df = DimRoute_df.join(DimRoute_df['lane'].str.split(' -> ', 1,expand=True).rename(columns={0:'source', 1:'destination'}))

DimRoute_df = DimRoute_df.where(pd.notnull(DimRoute_df), None)

DimRoute_df.head()

In [ ]:
# creating column list for insertion
datacolumns = ", ".join([str('`'+i+'`') for i in DimRoute_df.columns.tolist()])

for i,row in DimRoute_df.iterrows():
    try:
        sql = "INSERT INTO `DimRoute` (" +datacolumns + ", `last_update`) VALUES (" + "%s,"*len(row) + "'"+ str(datetime.today())[:19]+ "')"

        connection.cursor().execute(sql, tuple(row))
        connection.commit()
    except:
        connection.commit()
        print('Not Inserted:')
        print(tuple(row))

In [ ]:
#Releasing memory
del DimRoute_df

## Dim Carrier

In [ ]:
#Dimension Carrier
DimCarrier_df = source_df[['carrier_name','carrier_rating','vip_carrier','carrier_dropped_us_count',
                           'has_mobile_app_tracking','has_macropoint_tracking','has_edi_tracking']].drop_duplicates()

# I didn't understood the column below, so i removed from my data modeling. With more specifc details I'd include this column inside fact table or dimesion.
DimCarrier_df.drop(columns=['carrier_dropped_us_count'], inplace=True)

# Removing duplicated recors after removing carrier_dropped_us_count
DimCarrier_df = DimCarrier_df.drop_duplicates()

DimCarrier_df.rename(columns={'vip_carrier':'fl_vip_carrier',
                              'has_mobile_app_tracking':'fl_has_mobile_app_tracking',
                              'has_macropoint_tracking':'fl_has_macropoint_tracking',
                              'has_edi_tracking':'fl_has_edi_tracking'
                             }, inplace=True)

DimCarrier_df = DimCarrier_df.where(pd.notnull(DimCarrier_df), None)

#Removing carrier nulls, will be replace by -1 in the fact table
DimCarrier_df = DimCarrier_df.loc[DimCarrier_df['carrier_name']!= None]

In [ ]:
# creating column list for insertion
datacolumns = ", ".join([str('`'+i+'`') for i in DimCarrier_df.columns.tolist()])

for i,row in DimCarrier_df.iterrows():
    
    try:
        sql = "INSERT INTO `DimCarrier` (" +datacolumns + ", `last_update`) VALUES (" + "%s,"*len(row) + "'"+ str(datetime.today())[:19]+ "')"

        connection.cursor().execute(sql, tuple(row))
        connection.commit()
    except:
        connection.commit()
        print('Not Inserted:')
        print(tuple(row))

In [ ]:
#Releasing memory
del DimCarrier_df

## Dim Load

In [ ]:
#Dimension Load
DimLoad_df = source_df[['loadsmart_id','equipment_type','sourcing_channel','contracted_load',
                        'load_booked_autonomously','load_sourced_autonomously','load_was_cancelled']].drop_duplicates()

DimLoad_df.rename(columns={'contracted_load':'fl_contracted_load',
                            'load_booked_autonomously':'fl_load_booked_autonomously',
                            'load_sourced_autonomously':'fl_load_sourced_autonomously',
                            'load_was_cancelled':'fl_load_was_cancelled'
                             }, inplace=True)

DimLoad_df = DimLoad_df.where(pd.notnull(DimLoad_df), None)

DimLoad_df.head()

In [ ]:
# creating column list for insertion
datacolumns = ", ".join([str('`'+i+'`') for i in DimLoad_df.columns.tolist()])

for i,row in DimLoad_df.iterrows():
    try:
        sql = "INSERT INTO `DimLoad` (" +datacolumns + ", `last_update`) VALUES (" + "%s,"*len(row) + "'"+ str(datetime.today())[:19]+ "')"
            
        connection.cursor().execute(sql, tuple(row))
        connection.commit()
    except:
        connection.commit()
        print('Not Inserted:')
        print(tuple(row))

In [ ]:
#Releasing memory
del DimLoad_df

## Load Dimensions On Memory

In [ ]:
DimShipper = pd.read_sql_query(
'''select max(sk_code) as sk_code, shipper_name from DimShipper group by shipper_name''', connection)

connection.commit()

DimShipper.head()

In [ ]:
DimRoute = pd.read_sql_query(
'''select max(sk_code) as sk_code, lane from DimRoute group by lane''', connection)

connection.commit()

DimShipper.head()

In [ ]:
DimCarrier = pd.read_sql_query(
'''select max(sk_code) as sk_code, carrier_name from DimCarrier group by carrier_name''', connection)

connection.commit()

DimCarrier.head()

In [ ]:
DimLoad = pd.read_sql_query(
'''select max(sk_code) as sk_code, loadsmart_id from DimLoad group by loadsmart_id''', connection)

connection.commit()

DimLoad.head()

## Closing Database Connection

In [ ]:
# Closing pymysql connection
connection.close()

## FactSales

In [ ]:
FactSales = source_df[['loadsmart_id','carrier_name','lane','shipper_name','quote_date',
                       'book_date','source_date','book_price','source_price','pnl']]

FactSales = FactSales.rename(columns={'quote_date':'quote_datetime',
                         'book_date':'book_datetime',
                         'source_date':'source_datetime',
                         'pnl':'pnl_value'
                        })

#Creating minutes_between_quote_book metric
FactSales['minutes_between_quote_book'] = FactSales['book_datetime'] - FactSales['quote_datetime'] 
FactSales['minutes_between_quote_book'] = FactSales['minutes_between_quote_book']/np.timedelta64(1,'m')
FactSales['minutes_between_quote_book'] = FactSales['minutes_between_quote_book'].astype(int)

#Replacing business key with surrogate key
FactSales['sk_load_code'] = FactSales['loadsmart_id'].map(DimLoad.set_index('loadsmart_id')['sk_code'])
FactSales['sk_load_code'] = FactSales['sk_load_code'].where(pd.notnull(FactSales['sk_load_code']), -1)

FactSales['sk_carrier_code'] = FactSales['carrier_name'].map(DimCarrier.set_index('carrier_name')['sk_code'])
FactSales['sk_carrier_code'] = FactSales['sk_carrier_code'].where(pd.notnull(FactSales['sk_carrier_code']), -1)

FactSales['sk_route_code'] = FactSales['lane'].map(DimRoute.set_index('lane')['sk_code'])
FactSales['sk_route_code'] = FactSales['sk_route_code'].where(pd.notnull(FactSales['sk_route_code']), -1)

FactSales['sk_shipper_code'] = FactSales['shipper_name'].map(DimShipper.set_index('shipper_name')['sk_code'])
FactSales['sk_shipper_code'] = FactSales['sk_shipper_code'].where(pd.notnull(FactSales['sk_shipper_code']), -1)
                                                                                         

FactSales = FactSales.where(pd.notnull(FactSales), None)

#Replacing empty columns to avoid errors
FactSales['source_datetime'] = FactSales['source_datetime'].astype(object).where(FactSales['source_datetime'].notnull(), None)

#Removing business keys
FactSales = FactSales.drop(columns=['loadsmart_id', 'carrier_name', 'lane', 'shipper_name'])

reorder_columns = ["sk_carrier_code","sk_shipper_code","sk_load_code","sk_route_code","quote_datetime",
                "book_datetime","source_datetime","book_price",
                "source_price","pnl_value","minutes_between_quote_book"]
#Reordering dataset
FactSales = FactSales.reindex(columns=reorder_columns)

FactSales

In [ ]:
with engine.begin() as conn:
    FactSales.to_sql('FactSales', con=conn, if_exists='append', index= False)

In [ ]:
#Releasing memory
del FactSales

## FactTransport

In [ ]:
FactTransport = source_df[['loadsmart_id','carrier_name','lane','shipper_name','pickup_date',
                           'pickup_appointment_time','carrier_on_time_to_pickup','delivery_date',
                           'delivery_appointment_time','carrier_on_time_to_delivery','carrier_on_time_overall',
                           'mileage']]

FactTransport = FactTransport.rename(columns={'pickup_date':'pickup_datetime',
                         'pickup_appointment_time':'pickup_appointment_datetime',
                         'delivery_date':'delivery_datetime',
                         'carrier_on_time_to_pickup':'fl_carrier_on_time_to_pickup',
                         'delivery_appointment_time':'delivery_appointment_datetime',
                         'carrier_on_time_to_delivery':'fl_carrier_on_time_to_delivery',
                         'carrier_on_time_overall':'fl_carrier_on_time_overall',
                         'mileage':'mileage_value'
                        })

#Creating days_between_pickup_delivery metric
FactTransport['days_between_pickup_delivery'] = FactTransport['delivery_datetime'] - FactTransport['pickup_datetime'] 
FactTransport['days_between_pickup_delivery'] = FactTransport['days_between_pickup_delivery']/np.timedelta64(1,'D')
FactTransport['days_between_pickup_delivery'] = FactTransport['days_between_pickup_delivery'].astype(int)

#Creating hours_between_pickup_delivery metric
FactTransport['hours_between_pickup_delivery'] = FactTransport['delivery_datetime'] - FactTransport['pickup_datetime'] 
FactTransport['hours_between_pickup_delivery'] = FactTransport['hours_between_pickup_delivery']/np.timedelta64(1,'h')
FactTransport['hours_between_pickup_delivery'] = FactTransport['hours_between_pickup_delivery'].astype(int)

#Replacing business key with surrogate key
FactTransport['sk_load_code'] = FactTransport['loadsmart_id'].map(DimLoad.set_index('loadsmart_id')['sk_code'])
FactTransport['sk_load_code'] = FactTransport['sk_load_code'].where(pd.notnull(FactTransport['sk_load_code']), -1)

FactTransport['sk_carrier_code'] = FactTransport['carrier_name'].map(DimCarrier.set_index('carrier_name')['sk_code'])
FactTransport['sk_carrier_code'] = FactTransport['sk_carrier_code'].where(pd.notnull(FactTransport['sk_carrier_code']), -1)

FactTransport['sk_route_code'] = FactTransport['lane'].map(DimRoute.set_index('lane')['sk_code'])
FactTransport['sk_route_code'] = FactTransport['sk_route_code'].where(pd.notnull(FactTransport['sk_route_code']), -1)

FactTransport['sk_shipper_code'] = FactTransport['shipper_name'].map(DimShipper.set_index('shipper_name')['sk_code'])
FactTransport['sk_shipper_code'] = FactTransport['sk_shipper_code'].where(pd.notnull(FactTransport['sk_shipper_code']), -1)

FactTransport = FactTransport.where(pd.notnull(FactTransport), None)

#Removing business keys
FactTransport = FactTransport.drop(columns=['loadsmart_id', 'carrier_name', 'lane', 'shipper_name'])

reorder_columns = ["sk_carrier_code","sk_shipper_code","sk_load_code","sk_route_code","pickup_datetime",
                "pickup_appointment_datetime","fl_carrier_on_time_to_pickup","delivery_datetime",
                "delivery_appointment_datetime","fl_carrier_on_time_to_delivery","fl_carrier_on_time_overall",
                "mileage_value","days_between_pickup_delivery","hours_between_pickup_delivery"]

#Reordering dataset
FactTransport = FactTransport.reindex(columns=reorder_columns)

FactTransport

In [ ]:
with engine.begin() as conn:
    FactTransport.to_sql('FactTransport', con=conn, if_exists='append', index= False)

In [ ]:
#Releasing memory
del FactTransport

## Cleaning memory

In [ ]:
#Releasing DimLoad
del DimLoad

#Releasing DimShipper
del DimShipper

#Releasing DimCarrier
del DimCarrier

#Releasing DimRoute
del DimRoute